:root {
    --color_main: rgb(161, 35, 73);
    --color_main2: rgb(255, 234, 240);
    --color_main3: rgb(247, 247, 247);
    --color_main4: rgb(128, 128, 128);
    --font-size_Normal: 17px;
    --font-family: Asap Condensed;
}

/* module */
body {
    background-color: var(--color_main3);
    margin: 0;
}

a {
    font-family: var(--font-family);
    text-decoration: none;
    color: black;
}

label {
    font-family: var(--font-family);
}

p {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

li {
    font-family: var(--font-family);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    text-align: center;
    font-family: var(--font-family);
}

input {
    font-family: var(--font-family);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.btnStyle1{
    color: white;
    font-size: var(--font-size_Normal);
    background-color: var(--color_main);
    border: 1px solid var(--color_main);
}

.btnStyle2{
    color: var(--color_main);
    font-size: var(--font-size_Normal);
    background-color: white;
    border: 1px solid var(--color_main);
}

.btnStyle3{
    color: var(--color_main);
    font-size: var(--font-size_Normal);
    background-color: var(--color_main2);
    border: 1px solid var(--color_main);
}
.btnStyle4{
    color: var(--color_main);
    font-size: var(--font-size_Normal);
    background-color: var(--color_main2);
    border: none;
}

.textBassic {
    margin: 0;
    padding: 0;
    font-size: var(--font-size_Normal);
    text-decoration: none;
    color: var(--color_main4);
}
.outlineError {
    margin: 0;
    padding: 0;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
}
.error {
    margin: 0;
    padding: 0;
    color: red;
    font-size: var(--font-size_Normal);
    margin-top: 5px;
}
.moduleInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}
.moduleInput .input {
    margin: 0;
    height: 20px;
    border: 1px solid var(--color_main);
    width: 400px;
    padding: 14.2px;
    font-size: 17px;
    align-items: start;
    background-color: white;
    font-family: var(--font-family);
}
.moduleInput>label {
    margin: 0 0 5px 0;
    color: var(--color_main4);
}
.moduleInput>.input:focus{
    outline: none;
    background-color: var(--color_main3);
}
.errorOutline {
    margin: 0;
    padding: 0;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
}
.error {
    margin: 0;
    padding: 0;
    color: red;
    font-size: var(--font-size_Normal);
    margin-top: 5px;
}
.list {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list::-webkit-scrollbar{
    width: 10px;
}

.list::-webkit-scrollbar-track {
    background: white;
}
.list::-webkit-scrollbar-thumb {
    background: var(--color_main4);
    border-radius: 2px;
}
.list::-webkit-scrollbar-thumb:hover {
    background: var(--color_main);
}

nav {
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layoutItemMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: auto;
}
.miniMenu {
    margin: 0;
    padding: 0;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.miniMenu > li {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 0 0 20px;

}
.miniMenu a {
    color: var(--color_main);
}
.sup-menu {
    position: relative;
}
.sup-menu > li{
    display: flex;
    align-items: center;
}
.child-menu {
    position: absolute;
    background-color: var(--color_main);
    padding: 5px 0 5px 0;
    width: 170px;
    left: -60px;
    top: 69px;
    display: none;
}
.sup-menu:hover .child-menu {
    display: block;
}
.child-menu li{
    text-align: center;
    padding: 15px;
    border-bottom: 0.5px solid rgb(165, 55, 88);
}
.child-menu > li:last-child{
    border: none;
}
.child-menu a{
    color: white;
}

.child-menu .sup-menu .child-menu{
    left: -170px;
    top: 0;
    display: none;
}
.child-menu .sup-menu:hover .child-menu{
    display: block;
}


.linkButton {
    text-align: center;
    text-decoration: none;
    color: var(--color_main);
    font-size: var(--font-size_Normal);
    font-family: var(--font-family);
}

.formFind input {
    width: 478px;
    height: 20px;
    padding: 5px 5px 5px 15px;
    color: var(--color_main4);
    font-size: var(--font-size_Normal);
    font-family: var(--font-family);
    border: 1px solid var(--color_main);
}

.formFind input:focus {
    outline: none;
}

.formFind button {
    width: 100px;
    height: 31.28px;
    padding: 0px;
    background-color: var(--color_main);
    border: none;
    color: white;
    font-family: var(--font-family);
    font-size: var(--font-size_Normal);
}

footer {
    height: 300px;
    background-color: var(--color_main);
    margin-top: 10px;
}
