@import url('/css/cssindex.css');

.container {
    display: flex;
}

.formLogin {
    width: 600px;
    padding: 20px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 70px;
    background-color: white;
    display: flex;
}

.divCenter{
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.p_label {
    margin: 0 0 30px 0;
    padding: 0;
    color: var(--color_main);
    font-size: 40px;
    font-weight: bold;
}

.messageLogin {
    color: red;
}

.moduleInput a{
    text-decoration: underline;
    margin-top: 20px;
    color: var(--color_main);
}