@import url('/css/cssindex.css');

.container {
    display: flex;
}

.formLogin {
    height: 490px;
    width: 1000px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 70px;
    background-color: white;
    display: flex;
}

.divCenter{
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.p_label {
    margin: 0 0 30px 0;
    padding: 0;
    color: var(--color_main);
    font-size: 40px;
    font-weight: bold;
}
.divSignUp {
    background-color: var(--color_main2);
    width: 400px;
    display: flex;
}
.divLogin {
    background-color: none;
    width: 600px;
    display: flex;
}
.divCenter{
    margin: auto;
}
.messageLogin {
    color: red;
}