@import url("/css/cssindex.css");

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.outLineMessage {
    background-color: white;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.outLineMessage p {
    font-size: 30px;
    color: var(--color_main);
    text-align: center;
}