@import url('/css/cssindex.css');


.layoutUpdateInfor {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.containerModuleInput {
    display: flex;
    justify-content: space-evenly;
}
.buttonUpdate {
    width: 100%;
    display: flex;
   justify-content: center; 
}
.buttonUpdate button {
    width: 100px;
    height: 40px;
}