<footer xmlns:th="http://www.thymeleaf.org">
    <div class="layoutFooter">
        <div class="colummFooter">
            <div>
                <img src="/image/Logo/logoXINH.png" alt="Lỗi hình ảnh">
                <p>XINH là hệ thống phân phối mỹ phẩm chính hãng uy tín và dịch vụ chăm sóc khách hàng tận tâm.</p>
                <p>Đến với XINH bạn có thể hoàn toàn yên tâm khi lựa chọn cho mình những bộ sản phẩm phù hợp và ưng ý từ
                    các
                    nhãn hàng nổi tiếng trên toàn thế giới.</p>
            </div>
        </div>
        <div class="colummFooter">
            <div>
                <p class="titleFooter">CHÍNH SÁCH</p>
                <p><a href="">Chính sách và giao nhận thanh toán</a></p>
                <p><a href="">Chính sách bảo mật thông tin cá nhân</a></p>
                <p><a href="">Điều khoản sử dụng</a></p>
                <p><a href="">Chính sách và quy định chung</a></p>
                <p><a href="">Khách hàng thân thiết</a></p>
            </div>
        </div>
        <div class="colummFooter">
            <div>
                <p class="titleFooter">Công Ty TNHH nhóm 6</p>
                <p>Địa Chỉ Trụ Sở Chính: 10/19 Tân Thới Nhất 10, phường Tân Thới Nhất, quận 12, Thành phố Hồ Chí Minh</p>
                <p>Đăng ký lần đầu ngày 10/05/2000</p>
                <p>Mã số thuế: 000000000</p>
                <p>Số điện thoại: 0987654321</p>
            </div>
        </div>
    </div>
</footer>