<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/csstrangChu.css">
<title>Trang chủ</title>
</head>

<body>
<nav>
    <div class="layoutItemMenu">
        <a href="/"><img src="/image/Logo/logoXINHColor.png" alt="Logo" width="117"></a>
        <form action="#" class="formFind">
            <input type="text" placeholder="Tìm kiếm...">
            <button type="submit">Tìm kiếm</button>
        </form>
        <ul class="miniMenu">
            <li class="sup-menu admin" style="margin: 0; display: none;"><a>Quản lý</a>
                <ul class="child-menu">
                    <li><a href="/quanLySanPham">Quản lý sản phẩm</a></li>
                    <li><a href="">Quản lý người dùng</a></li>
                    <li><a href="">Quản lý loại</a></li>
                    <li class="sup-menu"><a href="">Thống kê</a>
                        <ul class="child-menu">
                            <li><a href="">Thống kê sản phẩm</a></li>
                            <li><a href="">Thống kê doanh thu</a></li>
                            <li><a href="">Thống kê giỏ hàng</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="sup-menu">
                <a class="user">Tài khoản</a>
                <a href="/login" class="noneuser">Đăng nhập</a>
                <ul class="child-menu user">
                    <li><a href="">Quản lý tài khoản</a></li>
                    <li><a href="/submitLogout">Đăng xuất</a></li>
                </ul>
            </li>
            <li><a href="/gioHang">Giỏ hàng</a></li>
        </ul>
    </div>
    <script th:inline="javascript">
         /*<![CDATA[*/
        var messVaitro =  /*[[${vaitro}]]*/"";
        if (messVaitro == 'quanly') {
            var elementAdmin = document.querySelectorAll('.admin');
            elementAdmin.forEach(function(elementAdmin){
                elementAdmin.style.display = '';
            })
        } else {
            var elementAdmin = document.querySelectorAll('.admin');
            elementAdmin.forEach(function(elementAdmin){
                elementAdmin.style.display = 'none';
            })
        }

        var messUser = /*[[${user}]]*/"";
        if (messUser == 'yes') {
            var elementUser = document.querySelectorAll('.user');
            elementUser.forEach(function(elementUser){
                elementUser.style.display = '';
            })
            var elementNoneUser = document.querySelectorAll('.noneuser');
            elementNoneUser.forEach(function(elementNoneUser){
                elementNoneUser.style.display = 'none';
            })
        } else {
            var elementUser = document.querySelectorAll('.user');
            elementUser.forEach(function(elementUser){
                elementUser.style.display = 'none';
            })
            var elementNoneUser = document.querySelectorAll('.noneuser');
            elementNoneUser.forEach(function(elementNoneUser){
                elementNoneUser.style.display = '';
            })
        }
        
        
        /*]]>*/

    </script>
</nav>
<div class="container">
    <div style="background-color: white; height: 330px; display: flex; justify-content: center; align-items: center;">
        <h1 style="font-family: Asap Condensed;">Banner</h1>
    </div>
    
    <ul class="menu2">
        <li><a href="#">Cá nhân</a></li>
        <li><a href="#">Cơ thể</a></li>
        <li><a href="#">Da mặt</a></li>
        <li><a href="#">Làm đẹp</a></li>
        <li><a href="#">Tóc</a></li>
        <li><a href="#">Nước hoa</a></li>
    </ul>

    <div style="margin-top: 20px;" class="container">
        <div class="listProducts">
            <p >Sản phẩm mới</p>
            <div class="layoutProduct">
                <div class="product" th:each="sanPhamMoi : ${listSanPhamMoi}">
                    <a th:href="@{|/chiTietSanPham?maSanPham=${sanPhamMoi.MaSanPham}|}">
                        <img th:src="@{|/image/sanpham/${sanPhamMoi.HinhAnh}|}">
                        <div class="inforProduct">
                            <p style="font-size: 15px;" th:text="${sanPhamMoi.TenSanPham}"></p>
                            <p style="color: var(--color_main); font-weight: bold; font-size: 20px; margin-top: 5px;" 
                                th:text="${sanPhamMoi.getDonGiaDecimal() + 'đ'}"></p>
                            <!-- <p style="color: gray; font-size: 15px;"><del>2000000<span>đ</span></del></p> -->
                        </div>                                                                                
                    </a>
                </div>
            </div>
        </div>  
    </div>
</div>
<footer>
    <div>
        
    </div>
</footer>
</body>
<script>

</script>

</html>