<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/csstrangChu.css">
<title>Trang chủ</title>
</head>

<body>
<nav th:replace="~{/menuFind.html}"></nav>
<div class="container">
    <div style="background-color: white; height: 330px; display: flex; justify-content: center; align-items: center;">
        <img src="/image/banner/banner2.png">
    </div>
    
    <ul class="menu2">
        <li><a href="#">Cá nhân</a></li>
        <li><a href="#">Cơ thể</a></li>
        <li><a href="#">Da mặt</a></li>
        <li><a href="#">Làm đẹp</a></li>
        <li><a href="#">Tóc</a></li>
        <li><a href="#">Nước hoa</a></li>
    </ul>

    <div style="margin-top: 30px;" class="container">
        <div class="listProducts">
            <p >Sản phẩm mới</p>
            <div class="layoutProduct">
                <div class="product" th:each="sanPhamMoi : ${listSanPhamMoi}">
                    <a th:href="@{|/chiTietSanPham?maSanPham=${sanPhamMoi.MaSanPham}|}">
                        <img th:src="@{|/image/sanpham/${sanPhamMoi.HinhAnh}|}">
                        <div class="inforProduct">
                            <p style="font-size: 15px;" th:text="${sanPhamMoi.TenSanPham}"></p>
                            <p style="color: var(--color_main); font-weight: bold; font-size: 20px; margin-top: 5px;" 
                                th:text="${sanPhamMoi.getDonGiaDecimal() + 'đ'}"></p>
                            <!-- <p style="color: gray; font-size: 15px;"><del>2000000<span>đ</span></del></p> -->
                        </div>                                                                                
                    </a>
                </div>
            </div>
        </div>  
    </div>
</div>
<footer>
    <div>
        
    </div>
</footer>
</body>
<script>

</script>

</html>