<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/csslogin.css">
    <title>Đăng nhập</title>
</head>
<body>
    <nav>
        <div class="layoutItemMenu">
            <a href="/"><img src="/image/Logo/logoXINHColor.png" alt="Logo" width="117"></a>
            <ul class="miniMenu">
               
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="formLogin">
            <div class="divCenter">
                <div class="moduleInput" style="align-items: center;">
                    <p class="p_label">Đăng nhập</p>
                </div>

                <form action="/submitLogin" class="form">
                    <div class="moduleInput">
                        <label for="TenDangNhap">Tên đăng nhập</label>
                        <input type="text" name="TenDangNhap" class="input">
                    </div>
                    <div class="moduleInput" style="margin-bottom: 0">
                        <label for="MatKhau">Mật khẩu</label>
                        <input type="password" name="MatKhau" class="input">
                        <div class="errorOutline">
                            <p class="error" th:text="${messLogin}"></p>
                        </div>
                    </div>
                    <div class="moduleInput" style="align-items: center; margin-top: 30px;">
                        <button class="btnStyle1" style="width: 130px; height: 50px;">Đăng nhập</button>
                        <a href="/signup">Đăng kí</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <div style="display: flex; justify-content: center;">
        </div>
    </footer>
</body>
<script>
   
</script>

</html>