<nav xmlns:th="http://www.thymeleaf.org">
    <div class="layoutItemMenu">
        <a href="/"><img src="/image/Logo/logoXINHColor.png" alt="Logo" width="117"></a>
        <form th:action="@{/timSanPham}" class="formFind">
            <input type="text" placeholder="Tìm kiếm..." name="textFind" th:value="${formFind}">
            <button type="submit">Tìm kiếm</button>
        </form>
        <ul class="miniMenu">
            <li class="sup-menu admin" style="margin: 0; display: none;"><a>Quản lý</a>
                <ul class="child-menu">
                    <li><a href="/quanLySanPham">Quản lý sản phẩm</a></li>
                    <li><a href="/quanLyNguoiDung">Quản lý người dùng</a></li>
                    <!-- <li><a href="">Quản lý loại</a></li> -->
                    <li class="sup-menu"><a href="">Thống kê</a>
                        <ul class="child-menu">
                            <li><a href="">Thống kê sản phẩm</a></li>
                            <li><a href="/thongKeDoanhThu">Thống kê doanh thu</a></li>
                            <li><a href="">Thống kê giỏ hàng</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="sup-menu">
                <a class="user">Tài khoản</a>
                <a href="/login" class="noneuser">Đăng nhập</a>
                <ul class="child-menu user">
                    <li><a href="">Quản lý tài khoản</a></li>
                    <li><a href="/submitLogout">Đăng xuất</a></li>
                </ul>
            </li>
            <li><a href="/gioHang">Giỏ hàng</a></li>
        </ul>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var messVaitro =  /*[[${vaitro}]]*/"";
        if (messVaitro == 'quanly') {
            var elementAdmin = document.querySelectorAll('.admin');
            elementAdmin.forEach(function (elementAdmin) {
                elementAdmin.style.display = '';
            })
        } else {
            var elementAdmin = document.querySelectorAll('.admin');
            elementAdmin.forEach(function (elementAdmin) {
                elementAdmin.style.display = 'none';
            })
        }

        var messUser = /*[[${user}]]*/"";
        if (messUser == 'yes') {
            var elementUser = document.querySelectorAll('.user');
            elementUser.forEach(function (elementUser) {
                elementUser.style.display = '';
            })
            var elementNoneUser = document.querySelectorAll('.noneuser');
            elementNoneUser.forEach(function (elementNoneUser) {
                elementNoneUser.style.display = 'none';
            })
        } else {
            var elementUser = document.querySelectorAll('.user');
            elementUser.forEach(function (elementUser) {
                elementUser.style.display = 'none';
            })
            var elementNoneUser = document.querySelectorAll('.noneuser');
            elementNoneUser.forEach(function (elementNoneUser) {
                elementNoneUser.style.display = '';
            })
        }


        /*]]>*/

    </script>
</nav>