<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cssquanLySanPham.css">
    <title>Quản lý sản phẩm</title>
</head>
<body>
    <nav th:replace="~{/menu.html}"></nav>
    <div class="container">
        <div class="backGroundThemXoaSua">
            <form th:action="@{/quanLySanPham/them}" th:object="${SanPham}" enctype="multipart/form-data" method="post">
                <div class="rowInput">
                    <div class="columInput">
                        <div class="moduleInput">
                            <label for="MaSanPham">Mã sản phẩm</label>
                            <input type="text" name="MaSanPham" class="input" th:field="*{MaSanPham}"> 
                            <div class="errorOutline">
                                <p class="error" th:if="${#fields.hasErrors('MaSanPham')}" th:errors="*{MaSanPham}"></p>
                            </div>
                        </div>
                        <div class="moduleInput">
                            <label for="TenSanPham">Tên sản phẩm</label>
                            <input type="text" name="TenSanPham" class="input" th:field="*{TenSanPham}"> 
                            <div class="errorOutline">
                                <p class="error" th:if="${#fields.hasErrors('TenSanPham')}" th:errors="*{TenSanPham}"></p>
                            </div>
                        </div>
                        <div class="moduleInput">
                            <label for="DonGia">Đơn giá</label>
                            <input type="number" name="DonGia" class="input"  th:value="*{getDonGiaDecimal()}" th:field="*{DonGia}"/> 
                            <div class="errorOutline">
                                <p class="error" th:if="${#fields.hasErrors('DonGia')}" th:errors="*{DonGia}"></p>
                            </div>
                        </div>
                        <div class="moduleInput">
                            <label for="MauSac">Màu sắc</label>
                            <input type="text" name="MauSac" class="input"  th:field="*{MauSac}"> 
                            <div class="errorOutline">
                                <p class="error" th:if="${#fields.hasErrors('MauSac')}" th:errors="*{MauSac}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="columInput">
                        <div class="moduleInput">
                            <label for="HinhSanPham">Hình sản phẩm</label>
                            <div style="display: flex; align-items: flex-start;">
                                <div style="height: 139px; width: 139px; background-color: var(--color_main2);">
                                    <img th:src="@{|/image/sanpham/*{HinhAnh}|}" id="hinhSanPham"  style="width: 100%; height: 100%; border: none;">
                                </div>
                                <div style="display: flex; flex-direction: row; margin-left: 5px;">
                                    <div style="display: flex;">
                                        
                                    </div>
                                    <label class="inputFileOutline">
                                        <input id="inputHinhSanPham" type="file" class="inputFile" name="fileImage" th:value="*{HinhAnh}"> 
                                    </label>
                                </div>
                            </div>
                            
                            <div class="errorOutline">
                                <p class="error" th:text="${mestHinhAnh}"></p>
                            </div>
                        </div>
                        <div class="moduleInput">
                            <label for="SoLuong">Số lượng sản phẩm</label>
                            <input type="number" name="SoLuong" class="input"  th:field="*{SoLuong}"> 
                            <div class="errorOutline">
                                <p class="error" th:if="${#fields.hasErrors('SoLuong')}" th:errors="*{SoLuong}"></p>
                            </div>
                        </div>
                        <div class="moduleInput">
                            <label for="LoaiSanPham">Loại sản phẩm</label>
                            <select name="LoaiSanPham" class="input select">
                                <option th:each="loaiSanPham : ${listLoaiSanPham}" 
                                        th:text="${loaiSanPham.getTenLoaiSanPham()}" 
                                        th:value="${loaiSanPham.getMaLoaiSanPham()}"></option>
                                <option th:value="*{LoaiSanPham.getMaLoaiSanPham()}" 
                                        th:text="*{LoaiSanPham.getTenLoaiSanPham()}"
                                        th:if="*{LoaiSanPham != null}"
                                        selected></option>
                            </select>
                            <div class="errorOutline">
                                <p class="error" th:text="${messLoaiSanPham}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="moduleInput" style="margin-left: 20px;">
                    <label for="MoTa">Mô tả</label>
                    <textarea name="MoTa" class="input" style="height: 230px; width: 1130px;" th:field="*{MoTa}"></textarea>
                </div>

                <div class="rowButton">
                    <button type="submit" class="btnStyle2" style="width: 130px; height: 50px;">Thêm</button>
                    <a th:href="@{|/quanLySanPham/xoa?MaSanPham=*{MaSanPham}|}" class="linkButton">
                        <button type="button" class="btnStyle2" style="width: 130px; height: 50px;">Xóa</button>
                    </a>
                    <a th:href="@{/quanLySanPham}" class="linkButton">
                        <button type="button" class="btnStyle2" style="width: 130px; height: 50px;">Mới</button>
                    </a>
                    <a href="/xuatFileSanPham" class="linkButton">
                        <button type="button" class="btnStyle2" style="width: 130px; height: 50px;">Xuất</button>
                    </a>
                </div>
            </form>
        </div>
        <div style="margin-top: 30px">
            <div style="display: flex; justify-content: center;">
                <form action="#" class="formFind">
                    <input type="text" placeholder="Tìm kiếm...">
                    <button type="submit">Tìm kiếm</button>
                </form>
            </div>
            
            <div class="titleList">
                <div>
                    <p style="margin-right: 70px;">Mã sản phẩm</p>
                    <p style="margin-right: 180px;">Hình</p>
                    <p style="margin-right: 210px;">Tên sản phẩm</p>
                    <p style="margin-right: 70px;">Đơn giá</p>
                    <p>Số lượng</p>
                </div>
            </div>
            <ul class="list" style="max-height: 740px;">
                <li class="productItemLayout" th:each="sanpham : ${listSanPham}">
                    <a th:href="@{|/quanLySanPham/chon?MaSanPham=${sanpham.MaSanPham}|}" class="textBassic">
                        <button class="btnProductItem" style="background-color: var(--color_main); color: white;">Chọn</button>
                    </a>
                    <div class="inforProduct">
                        <p th:text="${sanpham.MaSanPham}"></p>
                        <img th:src="@{|/image/sanpham/${sanpham.HinhAnh}|}" width="75px" height="75px">
                        <p style="width: 272px;" th:text="${sanpham.TenSanPham}"></p>
                        <p style="color: var(--color_main);" th:text="${sanpham.getDonGiaDecimal() + 'đ'}"></p>
                        <p th:text="${sanpham.SoLuong}"></p>
                    </div>
                    <a th:href="@{|/quanLySanPham/xoa?MaSanPham=${sanpham.MaSanPham}|}" class="textBassic">
                        <button class="btnProductItem" style="background-color: var(--color_main2); color: var(--color_main);">Xóa</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

<script>
    var inputHinhSanPham = document.getElementById('inputHinhSanPham');
    inputHinhSanPham.addEventListener('change', function(event){
        const file = event.target.files[0];
        if(file) {
            const reader = new FileReader();
            reader.onload = function(e){
                const hinhSanPham = document.getElementById('hinhSanPham');
                hinhSanPham.src = e.target.result;
            };
            reader.readAsDataURL(file);
        }
    });
</script>
</html>