<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cssThanhToanThanhCong.css">
    <title>Thông báo thanh toán</title>
</head>
<body>
    <nav th:replace="~{/menuFind.html}"></nav>
    <div class="container">
        <div class="outLineMessage">
            <p th:text="${messPayment}"></p>
        </div>
    </div>
</body>
</html>